In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
path = 'https://raw.githubusercontent.com/FerrazThales/Artigos/main/Traduzir_Texto_PBI_com_Python/Base%20de%20Dados/drivers.csv'
df = pd.read_csv(path)
df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

#### Vamos nos preocupar apenas com a coluna de nacionalidade. Queremos traduzir tudo para o português.

In [3]:
# avaliando os diferentes tipos de nacionalidades
df['nationality'].value_counts()

British              165
American             158
Italian               99
French                73
German                50
Brazilian             32
Argentine             24
Belgian               23
Swiss                 23
South African         23
Japanese              20
Dutch                 18
Australian            18
Austrian              15
Spanish               15
Canadian              14
Swedish               10
Finnish                9
New Zealander          9
Mexican                6
Irish                  5
Danish                 5
Monegasque             4
Russian                4
Uruguayan              4
Portuguese             4
Rhodesian              4
East German            3
Venezuelan             3
Colombian              3
Indian                 2
Thai                   2
Indonesian             1
Argentine-Italian      1
Czech                  1
American-Italian       1
Liechtensteiner        1
Chilean                1
Malaysian              1
Hungarian              1
Polish                 1
Chinese                1
Name: nationality, dtype: int64

#### Primeiro precisamos instanciar o textblob e passar algum texto

In [4]:
# primeiro informamos o texto
texto = 'Giving information about the German and the Brazilian Science Landscape is one of our core competences. '

# depois instanciamos o TextBlob e passamos nosso texto
tradutor = TextBlob(texto)

# Aí, acessamos o método translate e colocamos a língua de original e a língua para qual queremos traduzir
tradutor.translate(from_lang = 'en', to = 'pt')

## Retorno do código é um objeto do tipo TextBlob
## TextBlob("Dar informações sobre o cenário científico alemão e brasileiro é uma das nossas principais competências.")

TextBlob("Dar informações sobre o cenário científico alemão e brasileiro é uma das nossas principais competências.")

#### Show! Passamos o texto de 'British' em inglês e nos retornou um objeto TextBlob com a tradução em português que estávamos esperando.


#### Agora vamos criar uma função para aplicar em todas as linhas.

In [5]:
def traduza(texto):
    tradutor = TextBlob(texto)
    texto_traduzido = tradutor.translate(from_lang='en', to = 'pt')
    return str(texto_traduzido)

#### Para aplicar esta função ao longo de todas as linhas, vamos utilizar o método apply do Pandas.

In [6]:
df['nationality'].apply(traduza)

NotTranslated: Translation API returned the input string unchanged.

#### Temos um erro que diz que a tradução feita retorna a mesma string (texto). Portanto, vamos adicionar em nossa função alguma sintaxe que nos ajude a tratar estes erros.


ps: se você fizer um Debug vai descobrir que os erros estão nos textos de Monegasque e Liechtensteiner

In [7]:
def traduza(texto):
    try:
        tradutor = TextBlob(texto)
        texto_traduzido = tradutor.translate(from_lang='en', to = 'pt')
        return str(texto_traduzido)
    except:
        return str(texto) # retorna o próprio texto quando há erro

In [8]:
df['Nacionalidade_pt'] = df['nationality'].apply(traduza)
df[['nationality','Nacionalidade_pt']]

    nationality Nacionalidade_pt
0       British        Britânico
1        German           Alemão
2        German           Alemão
3       Spanish         Espanhol
4       Finnish        finlandês
..          ...              ...
852      German           Alemão
853     Chinese           chinês
854       Dutch         Holandês
855  Australian      australiano
856    American        americano

[857 rows x 2 columns]